{% extends 'base.html.twig' %}

{% block title %}{{article.titre}}{% endblock %}

{% block body %}

<div class="blog-single ">
    <div class="container">
        <div class="row align-items-start">
            <div class="col m-15px-tb">
                <article class="article">
                    <div class="article-img">
                        <img src="{{asset('uploads/article_image/' ~ article.coverImage) | imagine_filter('detail') }}"
                            title="" alt="">
                    </div>
                    <div class="article-title">
                        <h6><a href="#">{{article.category.libelle}}</a></h6>
                        <h2>{{article.titre}}</h2>
                        <div class="media">
                            <div class="avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" title="" alt="">
                            </div>
                            <div class="media-body">
                                <label>Admin</label>
                                <span>{{article.createdAt|date("m/d/Y", "Europe/Paris")}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="article-content">
                        {{ (article.content|raw) }}
                    </div>

                </article>
                <div class="contact-form article-comment">
                    <h4>Laisser un commentaire</h4>
                    <!-- <form id="contact-form" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input name="Name" id="name" placeholder="Name *" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input name="Email" id="email" placeholder="Email *" class="form-control"
                                        type="email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea name="message" id="message" placeholder="Your message *" rows="4"
                                        class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="send">
                                    <button class="px-btn theme"><span>Submit</span> <i class="arrow"></i></button>
                                </div>
                            </div>
                        </div>
                    </form> -->


                    {{ form_start(form, {'attr': {'id': 'contact-form'}}) }}


                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_widget(form.pseudo, {'attr': {'class': 'form-control' , 'placeholder' :
                                'Pseudo'}}) }}

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder' : 'Email'}})
                                }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_widget(form.website, {'attr': {'class': 'form-control', 'placeholder' :
                                'Website', novalidate: 'novalidate'}}) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_widget(form.content, {'attr': {'class': 'form-control', 'placeholder' : 'Ecrire
                                un commentaire...', required : false}}) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="send">
                                <button type="submit" class="px-btn theme"><span>Submit</span> <i
                                        class="arrow"></i></button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                    {% include "shared/_notification.html.twig" %}
                </div>

            </div>

        </div>
    </div>
</div>


<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-md-12">
            <div class="blog-comment">
                <h3 class="text-success">Listes des commentaires</h3>
                <hr />
                <ul class="comments">
                    {% for comment in comments %}
                    {% if comment.parent is null %}
                    <li class="clearfix">
                        <img src="{{asset('uploads/user_logo/user.png') | imagine_filter('avatar')}}" class="avatar"
                            alt="">
                        <div class="post-comments">
                            <p class="meta">{{ comment.createdAt|date("m/d/Y") }} <a
                                    href="{{comment.website}}">{{comment.pseudo}}</a> a dit : <i class="pull-right"><a
                                        class="responseButton" href="#form{{comment.id}}"
                                        data-id="{{comment.id}}"><small>répondre à {{
                                            comment.pseudo}} </small></a></i>
                            </p>
                            <p>
                                {{comment.content }}
                            </p>
                        </div>
                        <form id="form{{comment.id}}" class="d-none"
                            action="{{path('repply_comment', { 'id' : comment.id})}}" method="POST">
                            <div class="row">



                                <div class="col-md-12 mb-1">
                                    <div class="row mb-1">
                                        <div class="col-4">
                                            <input name="pseudo" class="form-control form-rounded " placeholder="pseudo"
                                                aria-label="pseudo" />
                                        </div>

                                        <div class="col-4"><input class="form-control form-rounded " name="email"
                                                placeholder="email" aria-label="email" />
                                        </div>
                                        <div class="col-4"><input class="form-control form-rounded " name="website"
                                                placeholder="website" aria-label="website" />
                                        </div>
                                    </div>
                                    <textarea class="form-control form-rounded" name="content"
                                        placeholder="Répondre au commentaire de {{comment.pseudo}}" aria-label="content"
                                        rows="3"></textarea>
                                    <button class="btn btn-primary btn-sm float-right" type="submit">
                                        Répondre
                                    </button>
                                </div>



                            </div>

                        </form>






                        <ul class="comments">
                            {% for replies in comment.replies %}

                            {% if replies.active > 0 %}
                            <li class="clearfix">
                                <img src="{{asset('uploads/user_logo/user.png') | imagine_filter('avatar')}}"
                                    class="avatar" alt="">
                                <div class="post-comments">
                                    <p class="meta">{{ replies.createdAt|date("m/d/Y") }} <a
                                            href="{{replies.website}}">{{replies.pseudo}}</a> a dit : <i
                                            class="pull-right"></i></p>
                                    <p>
                                        {{replies.content}}
                                    </p>
                                </div>
                            </li>
                            {% endif %}

                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>






















{% endblock %}